:root {
    --color1: rgb(0, 231, 255);
    --color2: rgb(255, 0, 231);
    --back: url(../../../assets/images/back-card_small.png);
    --frontc: url(../../../assets/images/front-card.png);
    --sample: url(https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png);
}

.wrapper-list {
    display: inline-block;
    overflow: hidden;
}
.card {
    width: 71.5vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 600px) {
        width: clamp(12.9vw, 61vh, 18vw);
        height: clamp(18vw, 85vh, 25.2vw);
    }
    @media screen and (max-width: 600px) {
        width: clamp(35.9vw , 77vh , 31vw ); 
        height: clamp(50vw , 100vh , 41.2vw );
    }
    position: relative;
    overflow: hidden;
    margin: 20px;
    overflow: hidden;
    z-index: 10;
    // touch-action: none;
    border-radius: 5% / 3.5%;
    box-shadow: 
        -5px -5px 5px -5px var(--color1), 
        5px 5px 5px -5px var(--color2), 
        -7px -7px 10px -5px transparent, 
        7px 7px 10px -5px transparent, 
        0 0 5px 0px rgba(255,255,255,0),
        0 55px 35px -20px rgba(0, 0, 0, 0.5);

    transition: transform 0.5s ease, box-shadow 0.2s ease;
    will-change: transform, filter;

    background-color: #040712;
    background-image: var(--front);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform-origin: center;
}

.card:hover {
    box-shadow: 
        -20px -20px 30px -25px var(--color1), 
        20px 20px 30px -25px var(--color2), 
        -7px -7px 10px -5px var(--color1), 
        7px 7px 10px -5px var(--color2), 
        0 0 13px 4px rgba(255,255,255,0.3),
        0 55px 35px -20px rgba(43, 27, 27, 0.5);
}

.card.back {
    --color1: var(--charizard1);
    --color2: var(--charizard2);
    --front: var(--back);
}
.card.front{
    --color1: var(--pika1);
    --color2: var(--pika2);
    --front: var(--frontc);
    --back: var(--sample);
}

.card:before,
.card:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    opacity: .5;
    mix-blend-mode: color-dodge;
    transition: all .33s ease;
}

.card:before {
    background-position: 50% 50%;
    background-size: 300% 300%;
    background-image: linear-gradient(
        115deg,
        transparent 0%,
        var(--color1) 25%,
        transparent 47%,
        transparent 53%,
        var(--color2) 75%,
        transparent 100%
    );
    opacity: .5;
    filter: brightness(.5) contrast(1);
    z-index: 1;
    }

.card:after {
    opacity: 1;
    // background-image: url("https://assets.codepen.io/13471/sparkles.gif"), 
    //     url(https://assets.codepen.io/13471/holo.png), 
    //     linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
    background-position: 50% 50%;
    background-size: 160%;
    background-blend-mode: overlay;
    z-index: 1;
    filter: brightness(1) contrast(1);
    transition: all .33s ease;
    mix-blend-mode: color-dodge;
    opacity: .75;
}

.card.active:after,
.card:hover:after {
    filter: brightness(1) contrast(1);;
    opacity: 1;
}

.card .avatar{
    width: 85%;
    max-width: 100%;;
}

.card.active,
.card:hover {
    animation: none;
    transition: box-shadow 0.1s ease-out;
}

.card.active:before,
.card:hover:before {
    animation: none;
    background-image: linear-gradient(
        110deg,
        transparent 25%,
        var(--color1) 48%,
        var(--color2) 52%,
        transparent 75%
    );
    background-position: 50% 50%;
    background-size: 250% 250%;
    opacity: .88;
    filter: brightness(.66) contrast(1.33);
    transition: none;
}

.card.active:before,
.card:hover:before,
.card.active:after,
.card:hover:after {
    animation: none;
    transition: none;
}

.card.animated {
    transition: none;
    animation: holoCard 12s ease 0s 1;
    &:before { 
        transition: none;
        animation: holoGradient 12s ease 0s 1;
    }
    &:after {
        transition: none;
        animation: holoSparkle 12s ease 0s 1;
    }
}

.backOutUp{
    transition: none;
    animation: backOutUp 3s ease 0s forwards;
}

.backOutDown{
    transition: none;
    animation: backOutDown 3s ease 0s forwards;
}

.zoomOut{
    transition: none;
    animation: zoomOut 3s ease 0s forwards;
}

.backOutLeft{
    transition: none;
    animation: backOutLeft 3s ease 0s forwards;
}

.backOutRight{
    transition: none;
    animation: backOutRight 3s ease 0s forwards;
}

.backInLeft{
    transition: none;
    animation: backInLeft 1s ease 0s forwards;
}

@keyframes holoSparkle {
    0%, 100% {
        opacity: .75; background-position: 50% 50%; filter: brightness(1.2) contrast(1.25);
    }
    5%, 8% {
        opacity: 1; background-position: 40% 40%; filter: brightness(.8) contrast(1.2);
    }
    13%, 16% {
        opacity: .5; background-position: 50% 50%; filter: brightness(1.2) contrast(.8);
    }
    35%, 38% {
        opacity: 1; background-position: 60% 60%; filter: brightness(1) contrast(1);
    }
    55% {
        opacity: .33; background-position: 45% 45%; filter: brightness(1.2) contrast(1.25);
    }
}

@keyframes holoGradient {
    0%, 100% {
        opacity: 0.5;
        background-position: 50% 50%;
        filter: brightness(.5) contrast(1);
    }
    5%, 9% {
        background-position: 100% 100%;
        opacity: 1;
        filter: brightness(.75) contrast(1.25);
    }
    13%, 17% {
        background-position: 0% 0%;
        opacity: .88;
    }
    35%, 39% {
        background-position: 100% 100%;
        opacity: 1;
        filter: brightness(.5) contrast(1);
    }
    55% {
        background-position: 0% 0%;
        opacity: 1;
        filter: brightness(.75) contrast(1.25);
    }
}

@keyframes holoCard {
    0%, 100% {
        transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
    }
    5%, 8% {
        transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
    }
    13%, 16% {
        transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
    }
    35%, 38% {
        transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
    }
    55% {
        transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
    }
}

@keyframes backOutUp {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    20% {
        -webkit-transform: translateY(0px) scale(0.7);
        transform: translateY(0px) scale(0.7);
        opacity: 0.7;
    }

    100% {
        -webkit-transform: translateY(-700px) scale(0.7);
        transform: translateY(-700px) scale(0.7);
        opacity: 0.7;
    }
}

@keyframes backOutDown{
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    
    20% {
        -webkit-transform: translateY(0px) scale(0.7);
        transform: translateY(0px) scale(0.7);
        opacity: 0.7;
    }

    100% {
        -webkit-transform: translateY(700px) scale(0.7);
        transform: translateY(700px) scale(0.7);
        opacity: 0.7;
    }
}

@keyframes zoomOut {
    from {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
      visibility: hidden;
    }
  
    to {
      opacity: 0;
      visibility: hidden;
    }
}

@keyframes backOutLeft {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  
    20% {
      -webkit-transform: translateX(0px) scale(0.7);
      transform: translateX(0px) scale(0.7);
      opacity: 0.7;
    }
  
    100% {
      -webkit-transform: translateX(-2000px) scale(0.7);
      transform: translateX(-2000px) scale(0.7);
      opacity: 0.7;
    }
}

@keyframes backOutRight {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  
    20% {
      -webkit-transform: translateX(0px) scale(0.7);
      transform: translateX(0px) scale(0.7);
      opacity: 0.7;
    }
  
    100% {
      -webkit-transform: translateX(2000px) scale(0.7);
      transform: translateX(2000px) scale(0.7);
      opacity: 0.7;
    }
}

@keyframes backInLeft {
    0% {
      -webkit-transform: translateX(-2000px) scale(0.7);
      transform: translateX(-2000px) scale(0.7);
      opacity: 0.7;
    }
  
    80% {
      -webkit-transform: translateX(0px) scale(0.7);
      transform: translateX(0px) scale(0.7);
      opacity: 0.7;
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
}

.card.eevee:hover {
    box-shadow: 
        0 0 30px -5px white,
        0 0 10px -2px white,
        0 55px 35px -20px rgba(0, 0, 0, 0.5);
}
.card.eevee:hover:before,
.card.eevee.active:before {
    background-image: linear-gradient(
        115deg,
        transparent 20%,
        var(--color1) 36%,
        var(--color2) 43%,
        var(--color3) 50%,
        var(--color4) 57%,
        var(--color5) 64%,
        transparent 80%
    );
}
